<p>Dear {{patient_username}},</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna </p>
<p>aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
<p>Click <a target="_blank" href="https://umed.io">here</a> (https://umed.io)</p>
<p>{{care_provider_contact}}</p>
<p>{{care_provider_name}}</p>